mat-table {
  overflow: auto;
  max-height: 600px;
}


.mat-column-_id,
.mat-column-genero,
.mat-column-nome,
.mat-column-nascimento,
.mat-column-email,
.mat-column-cpf,
.mat-column-actions {
  flex: 1 1 auto;
  word-wrap: break-word;
}

.mat-column-_id {
  flex: 0 0 50px; /* Largura mínima */
}

.mat-column-genero {
  flex: 0 1 100px; /* Largura inicial */
}

.mat-column-nome {
  flex: 2 1 150px; /* Largura inicial maior para nomes */
}

.mat-column-nascimento {
  flex: 1 1 120px; /* Largura inicial */
}

.mat-column-email {
  flex: 3 1 200px; /* Largura inicial maior para emails */
}

.mat-column-cpf {
  flex: 1 1 120px; /* Largura inicial */
}

.mat-column-actions {
  flex: 0 0 100px; /* Largura fixa */
}

